---
import Layout from '../layouts/Layout.astro';
import BackHome from '../components/BackHome.astro';
---

<Layout title="Principles">
  <BackHome />

  <section class="content">
    <h1>Principles</h1>

    <div class="principle">
      <h2>Bite Sized Problems</h2>
      <p>
        My teachers and coaches taught me to break problems down into smaller problems.
        Whether it is a goal or a project, having small tasks to work on breeds consistency and success.
      </p>
    </div>

    <div class="principle">
      <h2>Kindess</h2>
      <p>
        Kindness is free to give and priceless to receive.
        Don't hesitate to go out of your way to be kind.
      </p>
    </div>

    <div class="principle">
      <h2>Listen First</h2>
      <p>
        I have found that conflicts arise from lack of understanding.
        Aim your listening to understand, not to respond.
      </p>
    </div>

    <div class="principle">
      <h2>10% Generousity</h2>
      <p>
        If you try to live by giving 10% more than you receive, life will seem kinder.
      </p>
    </div>

  </section>
</Layout>

<style>
.content {
  max-width: 750px;
  margin: 6rem auto;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.principle {
  margin-bottom: 3rem;
}

.principle h2 {
  font-size: 1rem;
  margin-bottom: 0.6rem;
  letter-spacing: 2px;
}

.principle p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #3a3128;
}
</style>
